/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2016, 11:11:54
    Author     : Adriano
*/

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(86, 182, 224, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(86, 182, 224, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(235, 235, 235, 1);
    background-color: rgba(45, 165, 218, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(45, 165, 218, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #2da5da;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #2da5da;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #2da5da;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #56b6e0;
}

.teste-shadow3{
	-webkit-box-shadow: 2px 1px 5px #999; 
	   -moz-box-shadow: 2px 1px 5px #999;
	        box-shadow: 2px 1px 5px #999;	
}

body {
 padding: 0 !important;   
}

.container-page {
    padding: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #282C2F;
 color: white;
  padding: 10px;
}
#container {
    text-align: center;
}

.imagem {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }